@import "tailwindcss";
@import "tailwindcss";
.container {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content";
   
  grid-template-columns: 250px 2fr;
   grid-template-rows: 60px 1fr;
  /* gap: 5px; */
  /* background-color: #2196F3; */
  padding: 5px;
  margin: auto;
}
.container > div {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;    /* viền xám */
  box-sizing: border-box;
  /* border-radius: 4px;  */
}
.container > div.menu {
    grid-area: menu;
    height: auto; /* hoặc xóa dòng này */
  }
  .container > div.header {
    grid-area: header;
    height: auto;
  }
  
.container > div.content {
  grid-area: content;
}
