.Header{
    height: 100px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Header a{
    color: white;
    background-color: rgb(189, 115, 18);
    width: 80px;
    text-align: center;
    
}
button{
    background-color: brown;
}